<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Abhishek Sharma Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>Abhishek Sharma</h1>
        <p>
            Java Developer | Spring Boot | Mysql
        </p>
    </header>

    <section id="about">
        <h2>About Me</h2>
        <p>
            Bachelor’s of Computer Application from Chhatrapati Shahu Ji Maharaj University
        </p>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        <div th:each="project"
    </section>

</body>
</html>